/Client.class
/ClientMain.class
/ClientService.class
/History.class
/Message.class
/Server.class
/ServerMain.class
/ServerService.class
/ByteSerializable.class
/ByteSerializableInf.class
/SystemMessage.class
/BasicMessage.class
/HistoryMessage.class
